.contact-container {                             
  display: grid;

  grid-template-columns: 5fr 7fr;
  align-items: flex-start;
  gap: 3rem 1.5rem;

/*    max-width: 1200px;
  margin: 0 auto;
  padding: 2rem; */

}
.contact-content {
    padding-top: 0.5rem;
    row-gap: 2.5rem;
}
.contact-card{
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 4.5rem;
}
.contact-icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    background-color: var(--container-color);
    font-size: var(--h3-font-size);
    display: grid;
    place-items: center;
    position: relative;
}
.contact-icon::after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: var(--border-color);
   /*  background-color: rebeccapurple; */
}
.contact-title {
    font-size: var(--large-font-size);
    margin-bottom: 0.5rem;
}
.contact-data{
    font-size: var(--small-font-size);
}
.contact-form {
    row-gap: 1.25rem;
    position: relative;
}
.contact-form-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}
.contact-form-div{
    display: grid;
    row-gap: 0.75rem;
}
.contact-form-label {
    text-indent: 1.5rem;
    font-size: var(--small-font-size);

}
.contact-form-label b {
    color: var(--first-color);
}
.contact-form-input{
    background-color: var(--container-color);
    color: var(--title-color);
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
}
.contact-form-area {
    resize: none;
    height: 140px;
}
.contact-button {
    justify-self: flex-end;
    margin-top: 1.5rem;
}

.contact-message {
    position: absolute;
    right: .5rem;
    bottom: 4.6rem;
    font-size: var(--small-font-size);
}

.color-red{
    color: hsl(2, 76%, 53%);
}
.color-first{
    color: var(--first-color);
}