.home-container{
    grid-template-columns: 4.75fr 7.25fr;
    align-items: center;
    gap: 2rem clamp(2rem, -22.6531rem + 32.6531vw, 10rem);
    padding: 2.5rem;
    min-height: 100vh;
}

.home-img{
    height: calc(100vh - 20rem);
    width: 70%;
    object-fit: cover;
    border-radius: 2rem;
    z-index: 10;
    box-shadow: -3px 2px 41px 0px rgba(100,61,231,0.75);
-webkit-box-shadow: -3px 2px 41px 0px rgba(100,61,231,0.75);
-moz-box-shadow: -3px 2px 41px 0px rgba(100,61,231,0.75);

}
.home-title{
    font-size: var(--h1-font-size);
    padding-left: 4.25rem;
    position: relative;
}
.home-title span{
    color: var(--first-color);
}
.home-title::before{
    content: '';
    position: absolute;
    top: 22%;
    left: 0;
    width: 40px;
    height: 4px;
    border-radius: 0.5rem;
    background-color: var(--first-color);
    
}
.home-description{
    line-height: 1.75;
    max-width: 600px;
    margin-block: 1.5rem 2.5rem;

}

.color-block{
    position: fixed;
    width: 30%;
    height: 150%;
    background-color: var(--first-color);
    transform: rotate(-16deg);
    top: -12%;
    left: -12%;
}
.icon-home{
    position: relative;
    top: 15px;
    display: inline;
    padding-inline: 5px;
    margin-left: 20px;
    font-size: 2rem;
    background-color: transparent;
    border-radius: 100%;
    transition: transform 0.3s ease;
    /* background-color: rgb(255, 255, 255); */

}
.icon-home:hover{
   /*  background-color: red; */
    transform: scale(3rem)
}

