.nav {
    position: fixed;
    inset-block: 0;
    right: 2rem;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.nav-list {
    row-gap: 0.75rem;
}

.nav-link {
    background-color: var(--container-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 0.3s ease;
    box-shadow: var(--shadow);
    position: relative;
}

.nav-link:hover,
.active-nav {
    background-color: var(--first-color);
    transform: scale(1.05);
}

.nav-icon {
    color: var(--title-color);
    font-size: 1.15rem;
    transition: color 0.3s ease;
}

.nav-link:hover .nav-icon,
.active-nav .nav-icon {
    color: var(--white-color);
}

.nav-name {
    position: absolute;
    right: 0;
    background-color: var(--first-color);
    height: 36px;
    padding-inline: 1.25rem 2.5rem;
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--weight-600);
    opacity: 0;
    visibility: hidden;
    z-index: -10;
    transition: opacity 0.3s ease, visibility 0.3s ease, right 0.3s ease;
    white-space: nowrap;
}

.nav-link:hover .nav-name {
    opacity: 1;
    visibility: visible;
    right: 0.5rem;
}

.nav-close,
.nav-toggle {
    display: none;
}
